[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
bs4 = "*"
pydantic = "*"
beautifulsoup4 = "*"
lxml = "*"
anyio = "*"
requests = "*"
pytest = "*"
flake8 = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
